#shop{
    display: grid;
}

.shop-item{
    width: 10em;
    aspect-ratio: 1;
    margin: 2em; 
    background: var(--thirdary);
    border-radius: .5em;

    & > img{
        max-height: 100%;
        max-width: 100%;
    }
}

.shop-button{
    background: green;
    border-radius: 0;
    border: groove var(--primary) .2em;
    outline: 0 !important;
    color: white;

    &:active{
        border: groove .2em var(--thirdary);
    }

    &:hover{
        filter: brightness(.85);
    }

    & > img{
        width: 1em;
    }

    &[soldout=true]{
        cursor: not-allowed;
        opacity: .8;
    }
}