#inventory{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    
    background: var(--primary);
    height: calc(100vh - 0.5em*2);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 0.5em;

    > * {
        display: flex;
        margin: 0 0.3em;
        flex-direction: column;
        justify-content: flex-start;
        background: var(--secondary);
        border-radius: .5em;
        padding: 0;
        padding: 0 .5em;
        overflow-y: auto;

        &::-webkit-scrollbar-track
        {
            background-color: var(--thirdary);
            border-radius: .5em;
            width: .5em;
        }

        &::-webkit-scrollbar
        {
            width: .5em;
            border-radius: .5em;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: .5em;
            background-color: var(--background);
        }
    }
}

.inventory-item, .inventory-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: .4em;
    border-radius: .5em;
    background: var(--thirdary);
    width: 6vw;
    aspect-ratio: 1;
    position: relative;
    margin: .2em 0;
    user-select: none;
    font-size: 1.3em;

    &:first-child{
        margin-top: 0;
    }

    & span{
        position: absolute;
        text-shadow: -4px -4px 6px #000, -4px 4px 6px #000, 4px -4px 6px #000, 4px 4px 6px #000;
        pointer-events: none;
        font-size: .9em;
    }

    & img{
        width: 100%;
        user-select: none;
        cursor: pointer;
    }

    & .inventory-item-count{
        bottom: 0.8em;
        font-size: .8em;
    }
}