/* SLAVE */
.automation-slave{
    position: absolute;

    & img{
        font-size: .1em;
        height: 60em;
    }
    
    & .automation-slave-tool{
        height: 30em;
        position: absolute;
        pointer-events: none;
        left: -20em;
        top: 20em;
    }
}

/* CREEPER SPAWNER */
#automation-creeper-spawner{
    transform: translateY(calc(-40vh));

    & img{
        position: absolute;
        height: 5em;
    }
}

.automation-creeper-spawner-creeper{
    position: absolute;
    z-index: 80;
}