#header{
    display: flex;
    background: var(--primary);
    height: clamp(5em, 10vh, 10em);
    padding: .5em;
    border-bottom-right-radius: .5em;

    > * {
        margin: .5em;
        background: var(--secondary);
        padding: .5em;
        border-radius: .5em;
        cursor: pointer;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        & > svg{
            font-size: 3em;
        }

        & > img{
            height: 100%;
        }
    }
}