#header{
    display: flex;
    background: var(--primary);
    height: clamp(5em, 10vh, 10em);
    padding: .5em;
    border-bottom-right-radius: .5em;

    > *:not(dialog) {
        margin: .5em;
        background: var(--secondary);
        padding: .5em;
        border-radius: .5em;
        cursor: pointer;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        transition: all 100ms;
        
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 .5em var(--secondary);
        }

        &:active{
            transform: scale(.95);
        }

        & > svg{
            font-size: 3em;
        }

        & > img{
            height: 100%;
        }
    }
}

dialog{
    color: white;
    background: var(--primary);
}